.user{
    background-color: #EFFCFF;
    color: #030637;
}
.pass{
    background-color: #EFFCFF;
    color: #030637;
}

.background{
    background: rgb(3,6,55);
    background: linear-gradient(0deg, rgba(3,6,55,1) 51%, rgba(10,47,84,1) 85%);
}
.loginheader{
    color: #EFFCFF;
}
