body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.textInputContainer {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#textInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  color: radial-gradient(circle, rgba(0,5,65,1) 36%, rgba(3,6,47,1) 98%);
  border-radius: 4px;
}

.submit-button {
  background-color: #add7ff;
}

