.dropdown-checkbox-container {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.dropdown-button {
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: #17cb49;
    color: white;
    border: none;
    cursor: pointer;
}

.checkbox-dropdown {
    position: absolute;
    align-items: center;
    top: 100%;
    right: 0;
    background-color: #17cb49;
    border-radius: 4px;
    padding: 8px;

}
.checkbox-dropdown label {
    display: block;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}
.checkbox-dropdown input {
    margin-right: 12px;
}