/* stats.css */

.stats-container {
    display: flex;
    margin-top: 20%;
    justify-content: space-around;
    padding: 20px;
  }
  
  .stat {
    text-align: center;
  }
  
  .stat-value {
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 0, 149);
  }
  
  .stat-label {
    font-size: 14px;
    color: rgb(7, 215, 7);
    margin-top: 8px;
  }
  